.results-container {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    background-color: white;
}

ul.dashed {
    margin: 0;    
    list-style-type: none;
}
ul.dashed > li {
    text-indent: -5px;
    margin-bottom: 4px;
}
ul.dashed > li:before {
    content: "- ";
    text-indent: -5px;
}

.section-header {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
    font-weight: normal;
    color: #e50914;
}

/*
MOST-RELEVANT COCKTAIL STUFF 
*/
div#relevant-cocktail-card {
    display: flex;
    flex-direction: row;
    padding: 70px 90px;
}
div#relevant-cocktail-card img {
    max-width: 700px;
    height: auto; 

    margin-right: 50px;
    border: 4px solid black;
}
/* We'd recommend... */
h4.accent-text {
    margin-bottom: 20px;
    color: #e50914;
}
/* Cocktail name */
h3.cocktail-name {
    font-size: 40px;
    margin: 0;
}
h3.cocktail-name:hover {
    text-decoration: underline;
}
ul.cocktail-list {
    margin-top: 0;
    margin-bottom: 30px;
}
div.cocktail-header {
    margin-bottom: 30px;
}
div.cocktail-header > p {
    margin: 0;
}
div.instructions {
    width: 75%;
}
div.explanation {
    border-left: 6px solid black;
    background-color: rgb(194, 194, 194);
    padding: 10px 40px;
    margin-top: 50px;
    width: 90%;
}

/*
CLICKABLE COCKTAIL ICONS
*/
div.hr {
    margin: 20px auto;
    margin-bottom: 40px;
    height: 2px;
    width: 125px;
    background-color: #e50914;
    border-bottom: 1px solid black;
}
.cocktail-main {
    width: 100%;
    box-sizing: border-box;
}
/* The gray horizontal area */
.cocktail-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 30px;

    background-color: rgb(194, 194, 194);
    /* box-shadow: 0 0 5px 1px rgba(0,0,0,0.9); */
}
.cocktail-section > h4 {
    margin: 0;
    font-size: 20px;
}
.cocktail-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: top;

    padding: 0 20px;
}
.cocktail-buttons {
    width:auto;
    max-width: 16%;
    height: 300px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    background-color: rgb(194, 194, 194);
    font-family: 'Montserrat', sans-serif;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cocktail-buttons:hover {
    cursor: pointer;
    transform: translateY(-5px);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); */
}
.cocktail-buttons img {
    width: 95%;
    max-width: 200px; 
    height: auto;
    margin: 0 auto;

    border: 2px solid black;
    margin-bottom: 15px;
}
/* Cocktail names */
.cocktail-buttons h3 {
    margin: 0;
    font-weight: 600;
}
/* Match percentage */
.cocktail-buttons h4 {
    margin: 0;
}

/*
MODAL STUFF
*/
div.modal-shadow {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}
div.cocktail-card {
    width: 75%;
    height: 75%;
    padding: 30px;
    
    background-color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
div.cocktail-details {
    width: 50%;
    height: 90%;
    margin: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}
div.modal-image {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
img.cocktail-image {
    display: block;
    width: 100%;
    max-width: 700px;
    height: auto;

    border: 4px solid black;
}
div.cocktail-card div.explanation {
    width: 80%;
}
button.close-button {
    position: absolute;
    right: 12%;
    top: 12%;
    width: 30px;
    height: 30px;
    text-align:center;

    background-color: white;
    border-radius: 100%;
}
button.close-button:hover {
    cursor: pointer;
}

/*
RECIPE SECTION
*/
div.recipe-section {
    padding: 40px;
    padding-top: 15px;
    margin-bottom: 200px;

    display: flex;
    flex-direction: row;
}
div.recipe-buttons {
    width: 40%;
    height: fit-content;

    display:flex;
    flex-direction: column;
}
button.recipe-button {
    text-align: left;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0;
    border: 1px solid black;
    border-right: none;
    font-size: 15px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 23px 10px;
}
button.recipe-button:hover {
    cursor: pointer;
}
button.recipe-button h3 {
    margin: 0;
    font-weight: normal;
}
button.recipe-button h4 {
    margin: 0;
    margin-top: 5px;
    font-weight: normal;
}

.recipe-cards {
    width: 70%;
    background-color: white;
    border-radius: 0 8px 8px 8px;
    border: 2px solid black;
    
    padding: 30px;
}
h3.recipe-name {
    font-size: 40px;
    margin: 0;
}
div.recipe-header > p {
    margin: 0;
    margin-bottom: 10px;
}
.recommended-cocktails .accent-text {
    margin-top: 40px;
    margin-bottom: 20px;
}

.recommended-cocktails-list {
    list-style: none;
}

.recommended-cocktails-list li {
    text-decoration: none; 
    margin-bottom: 10px;
}
.recommended-cocktails-list a {
    text-decoration: none; 
    font-weight: bold;
}

.recommended-cocktails-list a:hover {
    text-decoration: underline;
}

.pairing-button {
    border: none;
    background-color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}
.pairing-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Rating section in food recipes container */
.rating-container {
    display: flex;
    align-items: center;
    gap: 8px; 
}
  
.numeric-rating {
    margin: 0;
    font-weight: bold;
}

.star-rating {
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-family: Arial, sans-serif;
    line-height: 1;
}
  
.star-base {
    color: lightgray;
}
  
.star-fill {
    color: #e50914;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
}

.rating-count:hover {
    color: #e50914;
    text-decoration: underline;
}

.sentiment-text {
    font-size: 14px;
    color: #555;
    margin-left: 8px;
}

/* Rating breakdown */
.rating-float-box {
    position: absolute;
    top: 120%;
    left: 0;
    width: 250px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 15px;
    z-index: 100;
    border-radius: 8px;
    font-size: 14px;
}

.breakdown-hidden {
    display: none;
}

.rating-float-box::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 130px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
}

.rating-float-box::after {
    content: "";
    position: absolute;
    left: 20px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.breakdown-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.breakdown-header .average-rating {
    font-size: 16px;
    font-weight: bold;
    flex-grow: 1;
}

.close-button {
    border: none;
    background: none;
    all: unset; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    margin-left: 10px;
}

.close-button:hover {
    color: #000;
}

.breakdown-bars {
    margin-top: 10px;
    margin-bottom: 10px;
}

.breakdown-row {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    font-size: 14px;
}

.breakdown-row span:first-child {
    width: 60px;
    flex-shrink: 0;
}

.breakdown-row span:last-child {
    width: 35px; 
    text-align: right;
    flex-shrink: 0;
}

.breakdown-row .bar {
    flex-grow: 1;
    height: 10px;
    background-color: #e0e0e0;
    margin: 0 8px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.breakdown-row .fill {
    height: 100%;
    background-color: #e50914;
    border-radius: 5px 0 0 5px;
    width: 0%;
    transition: width 0.6s ease; 
}

.divider-line {
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 15px;
}

.see-reviews-button {
    text-align: center;
    cursor: pointer;
}

.see-reviews-button:hover{
    color: #e50914;
    text-decoration: underline;
}

/* Recipe Reviews Modal */
.reviews-modal {
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.reviews-modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 1000px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: fadeIn 0.3s;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal:hover {
    color: black;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* See all reviews modal */
.rating-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

/* Movie dropdown */
.suggestions-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.suggestions-dropdown li {
    padding: 8px 12px;
    cursor: pointer;
}

.suggestions-dropdown li:hover {
    background-color: #f0f0f0;
}

a.kaggle-link {
    font-weight: bold;
}
a.kaggle-link:hover {
    text-decoration: underline;
}

/* Info Hover Buttons */
.info-tooltip {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #444;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    width: 240px;
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 30px;
    font-size: 13px;
    opacity: 0;
    transition: opacity 0.3s;
}

.info-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.no-bullet {
    list-style: none;
}

.capitalized {
    margin-bottom: 6px;
}

.capitalized::first-letter {
    text-transform: capitalize;
}

@media (max-width: 1600px) {
    div#relevant-cocktail-card img {
        max-width: 500px;
    }
    
    button.cocktail-buttons {
        height: 275px;
    }
}

@media (max-width: 900px) {
    .cocktail-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .answer-box {
        padding: 10px;
    }

    .cocktail-section {
        grid-template-columns: 1fr;
    }

    .recipe-info {
        flex-direction: column;
    }

}