<!doctype html>
<html lang="en">
<title>FoodTastic</title>
<link rel="icon" href="{{ url_for('static', filename='images/DNM.png') }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='recipes.css') }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <header>
        <div id="logo-container">
            <a href="">
                <img src="{{ url_for('static', filename='images/logo.png') }}">
            </a>
            <h4>For All Your Movie Nights</h4>
        </div>
        <div>

        </div>
    </header>
    <div id="name-bar">
        <div id="authors-bar">
            <h5>A Project By:</h5>
            <ul id="name-list">
                <li>Vivian Z.</li>
                <li>Iris H.</li>
                <li>Selina L.</li>
                <li>Chris C.</li>
            </ul>
        </div>
        <div>
            With Help From Alina Y.
        </div>
    </div>


    <div id="hero">
        <div id="intro-container">
            <div id="description">
                <h1>FoodTastic</h1>
                <p>Find the perfect food and cocktails for your movie night!</p>
            </div>
            <div class="search-container">
                <div class="input-box" onclick="sendFocus()">
                    <img src="{{ url_for('static', filename='images/mag.png') }}" />
                    <input placeholder="Search for a movie (e.g., Star Wars, Avengers)" id="movie-search" required
                        oninput="fetchMovieSuggestions()">
                    <ul id="movie-suggestions" class="suggestions-dropdown"></ul>
                </div>

                <div class="input-box" onclick="descriptionFocusDrink()">
                    <input placeholder="Cocktail Preferences (e.g., Non-alcoholic tangy drinks)"
                        id="description-drink-search">
                </div>
                <div class="input-box" onclick="descriptionFocusFood()">
                    <input placeholder="Recipes Preferences (e.g., Nostalgic homecooked meals)"
                        id="description-food-search">
                </div>

                <div class="submit-container">
                    <button id="search-button" onclick="searchMovie()">
                        Search Recommendations
                    </button>
                </div>
            </div>
            <div id="loading-indicator" style="display: none;">
                <div id="loading-message">Retrieving recommendations...</div>
            </div>
        </div>
    </div>

    <div id="answer-box" class="answer-box">
        <!-- Results will appear here -->
    </div>

    <div class="modal-shadow hidden" id="modal-shadow">
        <!-- Div to cover the whole screen when a cocktail is clicked. -->
    </div>
    <footer>

    </footer>


    <script>
        function noResultsTemplate(movieTitle) {
            return `<div class='no-results'>
                <h3>No food mentions found in "${movieTitle}"</h3>
                <p>Either the movie script wasn't found or it doesn't contain any food mentions from our database.</p>
            </div>`;
        }

        function errorTemplate(message) {
            return `<div class='error-message'>
                <h3>Error</h3>
                <p>${message}</p>
            </div>`;
        }

        function sendFocus() {
            document.getElementById('movie-search').focus();
        }

        function descriptionFocusDrink() {
            document.getElementById('description-drink-search').focus();
        }

        function descriptionFocusFood() {
            document.getElementById('description-food-search').focus();
        }

        function handleKeyUp(event) {
            if (event.key === "Enter") {
                searchMovie();
            }
        }
        function foodItemTemplate(foodItem) {
            return `<div class='food-item'>
            <h3 class='food-name'>${foodItem.name} <span class="food-count">(${foodItem.count} mentions)</span></h3>
        </div>`;
        }

        // i == 0 is the most relevant cocktail
        function cocktailCard(cocktail, i) {
            if (i == 0) {
                return `
                <div id="relevant-cocktail-card">
                    <img src="${cocktail.image}" alt="${cocktail.name}" class="relevant-cocktail-image">
                    <div id="relevant-cocktail-details">
                        <h4 class='accent-text'>We'd Recommend...</h4>
                        <div class="cocktail-header">
                            <a href="${cocktail.recipe_link}" target="_blank">
                                <h3 class='cocktail-name'>${cocktail.name}</h3>
                            </a>
                            <p>(${cocktail.score}% match)</p>
                        </div>

                        <ul class='cocktail-list dashed'>
                            ${cocktail.ingredients.map(ing => `<li>${ing}</li>`).join('')}
                        </ul>

                        <div class="cocktail-instructions">
                            <p>${cocktail.instructions}</p>
                        </div>

                        <div class="cocktail-explanation">
                            <p>
                                This drink was recommended because it shares ${cocktail.jaccard_score}% of its ingredients with the movie script keywords.
                            </p>
                            <p class="detail-text">
                                <strong>Shared Ingredients/Words:</strong> ${cocktail.jaccard_intersection && cocktail.jaccard_intersection.length > 0 ? cocktail.jaccard_intersection.join(', ') : 'N/A'}
                            </p>
                            <p class="detail-text">
                                <strong>Top SVD Themes:</strong> ${cocktail.top_svd_terms && cocktail.top_svd_terms.length > 0 ? cocktail.top_svd_terms.join(', ') : 'N/A'}
                            </p>
                        </div>
                    </div>
                </div>
                `
            }
            else {
                return `
                <button class="cocktail-buttons" id="${i}">
                    <img src="${cocktail.image}" alt="${cocktail.name}">
                    <h3>${cocktail.name}</h3>
                    <h4>${cocktail.score}% match</h4>
                </button>
                `;
            }
        }

        function cocktailModal(cocktail, i) {
            return `
                <div id="cocktail-details">
                    <h4 class='accent-text'>A Runner-Up...</h4>
                    <div class="cocktail-header">
                        <a href="${cocktail.recipe_link}" target="_blank">
                            <h3 class='cocktail-name'>${cocktail.name}   </h3>
                        </a>
                        <p>(${cocktail.score}% match)</p>
                    </div>

                    <ul class='cocktail-list dashed'>
                        ${cocktail.ingredients.map(ing => `<li>${ing}</li>`).join('')}
                    </ul>

                    <div class="cocktail-instructions">
                        <p>${cocktail.instructions}</p>
                    </div>

                    <div class="cocktail-explanation">
                        <p>
                            This drink was recommended because it shares ${cocktail.jaccard_score}% of its ingredients with the movie script keywords 
                        and has a script similarity score of ${cocktail.svd_text_score}% based on thematic content${cocktail.svd_desc_score !== null ? ` and also has a similarity score of ${cocktail.svd_desc_score}% based on additional description provided` : ''} If we give lower weighting to common ingredients, the recipe has a ingredient similarity of ${cocktail.weighted_jaccard_score}%.
                        </p>
                    </div>
                </div>
                <div class='modal-image'>
                    <img src="${cocktail.image}" alt="${cocktail.name}" class="cocktail-image">
                </div>

                <button class='close-button'>
                    x
                </button>
                `;
        }

        function recipeTemplate(recipe) {
            const maxLength = 300;
            const inst = recipe.instructions || "";

            const isLong = inst.length > maxLength;
            console.log(inst.length);
            const shortInst = inst.slice(0, maxLength) + (isLong ? "..." : "");

            const fullInst = `<span class="short-text">${shortInst}</span> 
            <span class="full-text hidden">${inst}</span>
            ${isLong ? `<a href="#" class="see-more">See more</a>` : ""}`;

            return `<div class='recipe-card'>
            <div class="recipe-info">
                <div class = "recipe-left">
                    <h3>${recipe.name}</h3>
                    <h4>Similarity Score: ${recipe.score}%</h4>
                    <div class="rating-container">
                        <span class="numeric-rating">
                            ${recipe.rating === 'NA' || recipe.rating == null || recipe.rating === 0 
                            ? 'N/A' 
                            : (Math.round(Number(recipe.rating) * 100) / 100).toString().replace(/\.00$/, '')}
                        </span>

                        ${recipe.rating && recipe.rating !== 'NA' && recipe.rating !== 0
                            ? `<div class="star-rating" data-rating="${recipe.rating}">
                                <div class="star-base">★★★★★</div>
                                <div class="star-fill">★★★★★</div>
                            </div>`
                            : ''}

                        ${recipe.rating_count && recipe.rating_count > 0
                            ? `<span class="rating-count">(${recipe.rating_count} ratings)</span>`
                            : ''}
                        
                        ${recipe.sentiment_text !== undefined && recipe.sentiment_score !== null
                            ? `<span class="sentiment-text">
                                Sentiment: ${recipe.sentiment_text} (${recipe.sentiment_score.toFixed(2)})
                                </span>`
                            : '<span>NO SENTIMENT</span>'
                            }

                    </div>


                    <div class="explanation">
                        <h4>Why this recipe?</h4>
                        <p> This recipe was recommended because it shares ${recipe.jaccard_score}% of its ingredients with the movie script keywords 
                            and has a script similarity score of ${recipe.svd_text_score}% based on thematic content${recipe.svd_desc_score !== null ? ` and also has a similarity score of ${recipe.svd_desc_score}% based on additional description provided` : ''}. If we give lower weighting to common ingredients, the recipe has a ingredient similarity of ${recipe.weighted_jaccard}%.</p>
                        <p class="detail-text">
                            <strong>Shared Ingredients/Words:</strong> ${recipe.jaccard_intersection && recipe.jaccard_intersection.length > 0 ? recipe.jaccard_intersection.join(', ') : 'N/A'}
                        </p>
                        <p class="detail-text">
                            <strong>Top SVD Themes:</strong> ${recipe.top_svd_terms && recipe.top_svd_terms.length > 0 ? recipe.top_svd_terms.join(', ') : 'N/A'}
                        </p>
                    </div>
                </div>
                <div class = "recipe-right">
                    <h4>Instruction</h4>
                    <p>${fullInst}</p>
                    <h4>Ingredients</h4>
                    <ul class="ingredients-list">
                    ${recipe.ingredients
                    .filter(ing => ing.trim() !== '')
                    .map(ing => {
                        const capitalized = ing.charAt(0).toUpperCase() + ing.slice(1);
                        return `<li>${capitalized}</li>`;
                    })
                    .join('')}
                    </ul>

                </div>
            </div>
        </div>`;
        }

        document.addEventListener('click', function (e) {
            // Recipe text shortening and lengthening
            if (e.target && e.target.matches('.see-more')) {
                e.preventDefault();
                const card = e.target.closest('.recipe-card');
                const shortText = card.querySelector('.short-text');
                const fullText = card.querySelector('.full-text');

                shortText.classList.toggle('hidden');
                fullText.classList.toggle('hidden');
                e.target.textContent = fullText.classList.contains('hidden') ? 'See more' : 'See less';
            }
        });

        function fetchMovieSuggestions() {
            const query = document.getElementById('movie-search').value.trim();
            const suggestionsDropdown = document.getElementById('movie-suggestions');

            if (!query) {
                suggestionsDropdown.innerHTML = '';
                return;
            }

            fetch(`/movie-suggestions?query=${encodeURIComponent(query)}`)
                .then(response => response.json())
                .then(data => {
                    suggestionsDropdown.innerHTML = data.map(movie => `<li onclick="selectMovie('${movie}')">${movie}</li>`).join('');
                })
                .catch(error => console.error('Error fetching movie suggestions:', error));
        }

        function selectMovie(movie) {
            document.getElementById('movie-search').value = movie;
            document.getElementById('movie-suggestions').innerHTML = '';
        }

        let currentOpenDropdown = null;

        function openDropdown(type) {
            if (currentOpenDropdown === type) return;

            if (currentOpenDropdown) {
                closeDropdown(currentOpenDropdown);
            }

            const dropdown = document.getElementById(`${type}-dropdown`);
            dropdown.style.display = 'block';
            currentOpenDropdown = type;
        }

        function closeDropdown(type) {
            document.getElementById(`${type}-dropdown`).style.display = 'none';
            currentOpenDropdown = null;
        }

        function updateSelections(type) {
            const checkboxes = document.querySelectorAll(`input[name="${type}"]:checked`);
            const selectedValues = Array.from(checkboxes).map(cb => cb.value);
            const inputField = document.getElementById(`${type}-input`);

            if (selectedValues.length > 0) {
                inputField.value = selectedValues.join(', ');
            } else {
                inputField.value = '';
                inputField.placeholder = type === 'dietary'
                    ? 'Dietary Restrictions'
                    : 'Alcohol Preference';
            }

            closeDropdown(type);
        }

        document.addEventListener('click', function (e) {
            if (!e.target.closest('.input-box') &&
                !e.target.closest('.dropdown-content') &&
                !e.target.classList.contains('done-button')) {
                if (currentOpenDropdown) {
                    closeDropdown(currentOpenDropdown);
                }
            }
        });

        // List of dietary restrictions to go through when parsing ad-hoc
        dietaryRestrictions = ['vegetarian', 'vegan', 'pescatarian', 'gluten-free', 'dairy-free', 'kosher'];
        // List of drink restrictions to go through when parsing ad-hoc
        alcRestrictions = ['alchoholic', 'non-alcoholic'];

        function searchMovie() {
            const movieTitle = document.getElementById("movie-search").value.trim();
            if (!movieTitle) return;

            var additionalFoodDesc = document.getElementById("description-food-search").value.trim();

            var additionalDrinkDesc = document.getElementById("description-drink-search").value.trim();

            // Split the ad-hoc by spaces
            // Find any restrictions
            foodRestrictions = [];
            if (additionalFoodDesc) {
                splittedFoodDesc = additionalFoodDesc.toLowerCase().split(" ");
                let indexesToRemove = [];

                splittedFoodDesc.forEach((word, i) => {
                    if (dietaryRestrictions.includes(word)) {
                        foodRestrictions.push(word);

                        indexesToRemove.push(i);
                    }
                });

                indexesToRemove.forEach((index) => {
                    splittedFoodDesc.splice(index, 1);
                });

                additionalFoodDesc = splittedFoodDesc.join(" ");
            };

            drinkRestrictions = [];
            if (additionalDrinkDesc) {
                splittedDrinkDesc = additionalDrinkDesc.toLowerCase().split(" ");
                console.log("split drink", splittedDrinkDesc)
                let indexesToRemove = [];

                splittedDrinkDesc.forEach((word, i) => {
                    if (alcRestrictions.includes(word)) {
                        drinkRestrictions.push(word);

                        indexesToRemove.push(i);
                    }
                });
                indexesToRemove.forEach((index) => {
                    splittedDrinkDesc.splice(index, 1);
                });

                additionalDrinkDesc = splittedDrinkDesc.join(" ");
            };

            // Splice together the splitted ad-hoc with the restrictions removed

            const answerBox = document.getElementById("answer-box");
            const loadingIndicator = document.getElementById("loading-indicator");

            loadingIndicator.style.display = "block";
            answerBox.innerHTML = "";

            let fetchUrl = `/find-foods?movie=${encodeURIComponent(movieTitle)}`;
            if (foodRestrictions.length > 0) {
                fetchUrl += `&dietary=${foodRestrictions.join(',')}`;
            }
            if (drinkRestrictions.length > 0) {
                fetchUrl += `&alcohol=${drinkRestrictions.join(',')}`;
            }
            if (additionalFoodDesc && additionalDrinkDesc) {
                fetchUrl += `&drinkdescription=${encodeURIComponent(additionalDrinkDesc)}&fooddescription=${encodeURIComponent(additionalFoodDesc)}`;
            } else if (additionalDrinkDesc) {
                fetchUrl += `&drinkdescription=${encodeURIComponent(additionalDrinkDesc)}`;
            } else if (additionalFoodDesc) {
                fetchUrl += `&fooddescription=${encodeURIComponent(additionalFoodDesc)}`;
            }

            console.log(fetchUrl)

            const modalContainer = document.getElementById("modal-shadow");
            // Clean away any previous modals
            document.querySelectorAll(".cocktail-card").forEach(cocktail => cocktail.remove());

            fetch(fetchUrl)
                .then(response => {
                    if (!response.ok) throw new Error('Network error');
                    return response.json();
                })
                .then(data => {
                    loadingIndicator.style.display = "none";
                    answerBox.innerHTML = "";

                    if (data.error) {
                        answerBox.innerHTML = errorTemplate(data.error);
                        return;
                    }
                    const source = data.source === "plot" ? "Plot" : "Script";
                    const sourceInfo = `<div class="source-info"><strong>Similarity measures are based on:</strong> ${source}</div>`;
                    answerBox.innerHTML = sourceInfo;
                    const resultsContainer = document.createElement("div");
                    resultsContainer.className = "results-container";
                    // resultsContainer.innerHTML = `<h2>Results for "${movieTitle}"</h2>`;

                    // Add cocktails section
                    if (data.cocktails?.length > 0) {
                        const cocktailMain = document.createElement("div");
                        cocktailMain.className = "cocktail-main";

                        // Most relevant cocktail card
                        const cocktailRecommended = document.createElement("div");
                        cocktailRecommended.className = "relevant-cocktail";

                        // The other cocktails
                        const cocktailSection = document.createElement("div");
                        cocktailSection.className = "cocktail-section";
                        cocktailSection.innerHTML += `
                            <h4>Some Other Recommendations...</h4>
                            <div class="hr"></div>
                        `

                        const cocktailRow = document.createElement("div");
                        cocktailRow.className = "cocktail-row";
                        cocktailSection.appendChild(cocktailRow);

                        let i = 0;
                        data.cocktails.forEach(c => {
                            const cocktail = c.data;
                            cocktail.score = c.score;
                            cocktail.jaccard_score = c.jaccard_score;
                            cocktail.weighted_jaccard_score = c.weighted_jaccard_score;
                            cocktail.svd_text_score = c.svd_text_score;
                            cocktail.svd_desc_score = c.svd_desc_score;
                            cocktail.jaccard_intersection = c.jaccard_intersection;
                            cocktail.top_svd_terms = c.top_svd_terms;
                            cocktail.source = c.source;

                            if (i == 0) {
                                cocktailRecommended.innerHTML += cocktailCard(cocktail, i);
                            }
                            else {
                                cocktailRow.innerHTML += cocktailCard(cocktail, i);

                                let cocktailModalContent = document.createElement("div");
                                cocktailModalContent.className = 'cocktail-card hidden';
                                cocktailModalContent.id = i;

                                cocktailModalContent.innerHTML += cocktailModal(cocktail, i);

                                modalContainer.appendChild(cocktailModalContent);
                            }
                            i += 1;
                        });
                        cocktailMain.appendChild(cocktailRecommended)
                        cocktailMain.appendChild(cocktailSection);
                        resultsContainer.appendChild(cocktailMain);
                    }

                    // Add recipes section
                    if (data.recipes?.length > 0) {
                        const recipeMain = document.createElement("div");
                        recipeMain.className = "recipe-main";
                        recipeMain.innerHTML = `<h3 class="section-header">Recipes we'd recommend...</h3>`;

                        const recipeSection = document.createElement("div");
                        recipeSection.className = "recipe-section";

                        data.recipes.forEach(r => {
                            const recipe = r.data;
                            recipe.score = r.score;
                            recipe.jaccard_score = r.jaccard_score;
                            recipe.weighted_jaccard = r.weighted_jaccard;
                            recipe.svd_text_score = r.svd_text_score;
                            recipe.svd_desc_score = r.svd_desc_score;
                            recipe.jaccard_intersection = r.jaccard_intersection;
                            recipe.top_svd_terms = r.top_svd_terms;
                            recipe.sentiment_text = r.sentiment_text;
                            recipe.sentiment_score = r.sentiment_score
                            recipeSection.innerHTML += recipeTemplate(recipe);
                        });

                        recipeMain.appendChild(recipeSection);
                        resultsContainer.appendChild(recipeMain);
                    }


                    if (resultsContainer.children.length > 1) { // 1 is the initial h2
                        answerBox.appendChild(resultsContainer);
                    } else {
                        answerBox.innerHTML = noResultsTemplate(movieTitle);
                    }

                    document.querySelectorAll('.star-rating').forEach(el => {
                            const rating = parseFloat(el.dataset.rating);
                            const percent = Math.max(0, Math.min(100, (rating / 5) * 100));
                            console.log(rating)
                            el.querySelector('.star-fill').style.width = percent + '%';
                        });

                    document.querySelectorAll('.cocktail-buttons').forEach(button => {
                        button.addEventListener('click', () => {
                            const id = button.getAttribute('id');
                            const card = document.querySelector(`.cocktail-card[id='${id}']`);

                            if (card) {
                                modalContainer.classList.toggle('hidden')
                                card.classList.toggle('hidden'); // toggle visibility
                            }
                        });
                    });
                    document.querySelectorAll('.close-button').forEach(button => {
                        button.addEventListener('click', () => {
                            closeModal();

                        });
                    });

                    // Detect any Escape buttons too
                    document.onkeydown = function (e) {
                        console.log("Pressed")
                        if (e.keyCode == 27) {
                            closeModal();
                        }
                    };

                    // Detect any clicks outside the modal to close
                    document.querySelector('.modal-shadow').addEventListener('click', () => {
                        closeModal();
                    });

                    function closeModal() {
                        document.querySelectorAll('.cocktail-card').forEach(card => {
                            card.classList.add('hidden');
                        });

                        document.querySelector(`.modal-shadow`).classList.add('hidden');
                    };

                })
                .catch(error => {
                    loadingIndicator.style.display = "none";
                    answerBox.innerHTML = errorTemplate("Failed to get results. Please try again.");
                    console.error('Error:', error);


                });
        }
    </script>
</body>

</html>